@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    font-family: 'Roboto', sans-serif;  
    color: whitesmoke;
}

body{
    -webkit-font-smoothing: antialiased ;
}


@layer components {
    .layoutBorder {
        @apply border-emerald-500 border-2;
    }
}

@layer components {
    .itineraryCards {
        @apply h-fit m-2 p-2 rounded-md text-sm;
    }
}