@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

body {
    -webkit-font-smoothing: antialiased;
}


@layer components {
    .layoutBorder {
        @apply border-emerald-500 border-2;
    }
}

@layer components {
    .itineraryCards {
        @apply h-fit m-2   text-sm 
    }
}

@layer components {
    .itineraryCardText {
        @apply text-slate-500 border-t-2 border-slate-700 
    }
}

@layer components {
    .itineraryCardDivider {
        @apply border-l-2 border-slate-700 grow-0 h-[50px] place-self-center
    }
}



@layer components {
    .mainContent {
        cursor: pointer;
        @apply 
        rounded-lg bg-slate-800 shadow-xl ease-in-out duration-500 
        hover:bg-gradient-to-r from-cyan-500 to-purple-500
        hover:drop-shadow-xl 
        hover:scale-105
        hover:shadow-cyan-500
        hover:text-white 
        flex items-end p-2 text-slate-500
        opacity-90
    }
}


@layer components {
    .leftSelect {
        cursor: pointer;
        @apply flex mx-4 hover:bg-slate-500
        hover:shadow-2xl
        hover:scale-105
        ease-in-out duration-300
    }
}

@layer components {
    .leftSelectText {
        cursor: pointer;
        @apply text-end grow mr-3 text-slate-500 hover:text-white
    }
}


@layer components { 
    .flightSliders {
        @apply h-[10px] rounded-md  
        bg-gradient-to-r from-red-500 to-rose-600    
        
    }
}


@layer components { 
    .flightLog {
        cursor: pointer;
        @apply 
        
        rounded-lg 
        shadow-lg 
       bg-gradient-to-r from-red-500 to-rose-600
       opacity-90
       
        ease-in-out duration-500 
     
        hover:drop-shadow-2xl 
        hover:scale-105
        hover:shadow-rose-600
        hover:text-white 
        flex items-end p-2 text-slate-700
    }
}

@layer components { 
    .cabinOutline {
        @apply flex items-center justify-center h-[180px] w-[180px] bg-slate-800 opacity-90 rounded-lg shadow-xl
        
    }
}

@layer components { 
    .cabinDial {
        @apply border-purple-500 border-4 rounded-full 
        h-36 w-36 flex flex-col justify-center items-center
    }
}




