@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    font-family: 'Roboto', sans-serif;  
    color: whitesmoke;
}

body{
    -webkit-font-smoothing: antialiased ;
}


@layer components {
    .layoutBorder {
        @apply border-emerald-500 border-2;
    }
}

@layer components {
    .itineraryCards {
        @apply h-fit m-2 p-2 rounded-md text-sm;
    }
}

@layer components {
    .mainContentCards {
        cursor: pointer;
        @apply rounded-lg
        bg-slate-900
        shadow-xl
        ease-in-out duration-500
        hover:bg-gradient-to-r from-blue-500 to-purple-500 
        hover:shadow-xl
        hover:scale-105
    }
}